<th:block th:fragment="courseList">
	<h4>Course List</h4>
	<table class="table table-hover">
		<thead>
			<th>Id</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Subject</th>
		</thead>
		<tbody>
			<tr th:each="course: ${courses}" th:onclick="|goto('/Faculty/EnrollmentList/${course.id}');|" style="cursor: pointer;">
				<td th:text="*{course.id}">courseId</td>
				<td th:text="*{course.startDate}">startDate</td>
				<td th:text="*{course.endDate}">endDate</td>
				<td th:text="*{course.subject.name}">Subject</td>
			</tr>
		</tbody>
	</table>
</th:block>