<th:block th:fragment="courseList">
	<h4>Course List</h4>
	<table class="table table-hover">
		<thead>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Subject</th>
			<th>Status</th>
			<th>Action</th>
		</thead>
		<tbody>
			<tr th:each="course: ${courses}">
				<td th:text="*{course.startDate}">startDate</td>
				<td th:text="*{course.endDate}">endDate</td>
				<td th:text="*{course.subject.name}">Subject</td>
				<td th:text="*{course.status}">Status</td>
				<td>
					<a class="btn btn-outline-success btn-sm btn-block" th:href="|/Faculty/EnrollmentList/${course.id}|">View Enrollments</a>
				</td>
			</tr>
		</tbody>
	</table>
</th:block>