<th:block th:fragment="scoreCards">
	<h4>Score Cards</h4>
	<table class="table table-hover">
		<thead>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Subject</th>
			<th>Status</th>
			<th>Action</th>
		</thead>
		<tbody>
			<tr th:each="course: ${courses}">
				<td th:text="*{course.startDate}">startDate</td>
				<td th:text="*{course.endDate}">endDate</td>
				<td th:text="*{course.subject.name}">Subject</td>
				<td th:text="*{course.status}">Status</td>
				<td>
					<a th:if="${course.status == 'Finished'}" class="btn btn-outline-success btn-sm btn-block" th:href="|/Faculty/ScoreForm/${course.id}|">Score</a>
					<a th:if="${course.status == 'Graded'}" class="btn btn-outline-success btn-sm btn-block" th:href="|/Faculty/ScoreForm/${course.id}|">View</a>
				</td>
			</tr>
		</tbody>
	</table>
</th:block>