<th:block th:fragment="sendNotification">
	<h4>Send Notification</h4>
	<form id="form" th:object="${notification}"
		th:action="|/Faculty/SendNotification/${course.id}|" method="post">
		<div class="form-group row">
			<label class="col-md-2 col-form-label">Title: </label>
			<div class="col-md-10">
				<input class="form-control" type="text" th:field="*{title}">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-12">
				<textarea type="text" th:field="*{message}"
					class="form-control" placeholder="Enter your message" style="height: 210px"></textarea>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<a class="btn btn-secondary btn-block" href="/Faculty/CourseList">Cancel</a>
			</div>
			<div class="col-md-4">
				<button class="btn btn-success btn-block" type="submit">Send</button>
			</div>
			<div class="col-md-2"></div>
		</div>
	</form>
</th:block>