<th:block th:fragment="availableCourses">
	<h4>Available Courses</h4>
		<table class="table table-hover">
		<thead>
			<th>Id</th>
			<th>Name</th>
			<th>Starting date</th>
			<th>Ending Date</th>
			<th>Lecturer</th>
		</thead>
		<tbody>
			<tr th:each="course: ${courses}">
				<td th:text="${course.id}"></td>
				<td th:text="${course.subject.name}"></td>
				<td th:text="${course.startDate}"></td>
				<td th:text="${course.endDate}"></td>
				<td th:text="${course.facultyUser.fullname}"></td>
			</tr>
		</tbody>
	</table>
</th:block>