<th:block th:fragment="notifications">
	<h4>Notifications</h4>
	<table class="table table-hover">
		<thead>
			<th>Start date</th>
			<th>End Date</th>
			<th>Name</th>
			<th>Lecturer</th>
			<th>Action</th>
		</thead>
		<tbody>
			<tr th:each="course: ${courses}">
				<td th:text="${course.startDate}"></td>
				<td th:text="${course.endDate}"></td>
				<td th:text="${course.subject.name}"></td>
				<td th:text="${course.facultyUser.fullname}"></td>
				<td>
					<a class="btn btn-outline-success btn-sm btn-block" th:href="|/Student/CourseDetails/${course.id}|">View</a>
				</td>
			</tr>
		</tbody>
	</table>
</th:block>