<th:block th:fragment="courseDetails">
	<h4>Course Details</h4>
	<div class="row">
		<h5 class="col-md-3">Subject: </h5>
		<h5 class="col-md-9" th:text="${course.subject.name}"></h5>
	</div>
	<div class="row">
		<h5 class="col-md-3">Description: </h5>
		<h5 class="col-md-9" th:text="${course.subject.description}"></h5>
	</div>
	<div class="row">
		<h5 class="col-md-3">Start Date: </h5>
		<h5 class="col-md-9" th:text="${course.startDate}"></h5>
	</div>
	<div class="row">
		<h5 class="col-md-3">End Date: </h5>
		<h5 class="col-md-9" th:text="${course.endDate}"></h5>
	</div>
	<div class="row">
		<h5 class="col-md-3">Lecturer: </h5>
		<h5 class="col-md-9" th:text="${course.facultyUser.fullname}"></h5>
	</div>
	<div th:unless="${enrollment}" class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button th:if="${clash}" class="btn btn-secondary btn-block" disabled>Enroll</button>
			<button th:unless="${clash}" class="btn btn-success btn-block" onclick="enroll()">Enroll</button>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div th:if="${enrollment}" class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button th:if="${enrollment.status == 'Pending'}" class="btn btn-danger btn-block" onclick="withdraw()">Withdraw</button>
			<button th:unless="${enrollment.status == 'Pending'}" class="btn btn-secondary btn-block" disabled>Withdraw</button>
		</div>
		<div class="col-md-4"></div>
	</div>
	<script th:inline="javascript">
		function enroll(){
			$.ajax({
				url: "/api/enrollCourse",
				method: "POST",
				data: {
					studentUserId: [[${studentUser.id}]],
					courseId: [[${course.id}]]
				},
				success: function(){
					goto('/Student/CourseDetails/[[${course.id}]]');
				}
			});
		}
	</script>
	<script th:if="${enrollment}" th:inline="javascript">
		function withdraw(){
			$.ajax({
				url: "/api/withdrawEnrollment",
				method: "POST",
				data: {
					enrollmentId: [[${enrollment.id}]]
				},
				success: function(){
					goto('/Student/CourseDetails/[[${course.id}]]');
				}
			});
		}
	</script>
</th:block>