<th:block th:fragment="enrolledCourses">
	<h4>Enrolled Courses</h4>
	<table class="table table-hover">
		<thead>
			<th>Id</th>
			<th>Subject</th>
			<th>Lecturer</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Status</th>
		</thead>
		<tbody>
			<tr th:each="enrollment: ${enrollments}" th:attr="onclick=|goto('/Student/CourseDetails/${enrollment.course.id}')|" style="cursor: pointer">
				<td th:text="${enrollment.id}"></td>
				<td th:text="${enrollment.course.subject.name}"></td>
				<td th:text="${enrollment.course.facultyUser.fullname}"></td>
				<td th:text="${enrollment.course.startDate}"></td>
				<td th:text="${enrollment.course.endDate}"></td>
				<td th:text="${enrollment.status}"></td>
			</tr>
		</tbody>
	</table>
</th:block>