.logo {
	width:180px;
	height:90px;
}

.container {
	/* width:100%; */
}

.row {
	/* width:100%; */
	/* grid-template-rows: 100% 3000px; */
}

.navbar {
	background-color:#0b0154;
	padding-bottom:0;
	margin-bottom:0;
	margin-left:0;
}

.nav {
	width:100%;
}

.nav-item {
	width:33%;
}

.nav-link {
	color:#c3c3cc;
	font-size:24px;
	text-align:center;
}

#leftbar {
	padding-right:0px !important;
	background-image:url("/img/sidebar_1.png") !important;
	background-color:#0b0154 !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
}

.leftbar-links {
	text-align:center !important;
	color:#c3c3cc !important;
	font-size:20px !important;
	padding-top:10% !important;
	padding-bottom:10% !important;
}

