<th:block th:fragment="blog">
	<div class="col-lg-12" align="center" bgcolor="thead-dark">
		<h3>Blog</h3>
	</div>
	<div class="col-lg-12">
		<br />
	</div>
	<div class="col-lg-12" align="center">
		<img
			src="http://www.iss.nus.edu.sg/images/default-source/standardimage/i-want-to-learn-more/learnmore-02.jpg?sfvrsn=6"
			height="250" width="550">
	</div>
	<div class="col-lg-12">
		<br />
	</div>
	<div class="col-lg-12" align="center">
		<h3>Providing Thought Leadership in Farming-tech Innovation and
			Business Transformation</h3>
		<p>Established in 1981, the Farming Institute of Technology
			provides graduate education, executive education programmes,
			consultancy and research services. To date, more than 135,000 farming
			tech leaders and professionals, 7,200 corporate customers and 6,250
			post-graduate alumni have benefitted from Farming Institute of
			Technology.</p>
	</div>
	<div class="col-lg-12">
		<hr />
	</div>




	<div classs="col-lg-12">
		<br />
	</div>
	<div class="col-lg-12" align="center" bgcolor="thead-dark">
		<h5 style="font-weight: bold">Our Students</h5>
	</div>
	<div class="row">
		<div class="col-lg-4" align="center">
			<img
				src="https://www.iss.nus.edu.sg/images/default-source/community/our-students/commencement-ceremony/ppsg-3487.jpg?sfvrsn=2"
				height="150" width="250">
		</div>
		<div class="col-lg-8" align="center">
			<br />
			<p>Commencement Ceremony</p>
		</div>
	</div>
	<div class="col-lg-12">
		<br />
	</div>
	<div class="row">
		<div class="col-lg-4" align="center">
			<img
				src="https://www.iss.nus.edu.sg/images/default-source/community/our-students/orientation-and-team-building/dsc_1333.jpg?sfvrsn=4"
				height="150" width="250">
		</div>
		<div class="col-lg-8" align="center">
			<br />
			<p>Orientation and Teambuilding</p>
		</div>
	</div>
	<div class="col-lg-12">
		<hr />
	</div>

	<div class="row">
		<div class="col-lg-12" style="text-align: center" bgcolor="thead-dark">
			<h5>
				<b>Our Teachers</b>
			</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4" align="center">
			<img src="/img/blog1.jpg" height="150" width="250">
		</div>
		<div class="col-lg-8" align="center">
			<br />
			<p>Teachers enjoy building relationships between my known and my
				unknown from time to time (yes, this is learning too!) and feeling
				satisfied when the unknown becomes known to me. I wish for all our
				students to find this joy of learning as well when they experience
				our programme and teaching.</p>
		</div>
	</div>
	<div class="col-lg-12">
		<br />
	</div>



	<div class="col-lg-12" align="center" bgcolor="thead-dark">
		<h5>
			<b>Our Stories</b>
		</h5>
	</div>
	<div class="row">
		<div class="col-lg-4" align="center">
			<img src="/img/blog2.jpg" height="150" width="250">
		</div>
		<div class="col-lg-8" align="center">
			<br />
			<p>Our programmes are designed in consultation with industry
				leaders. We have internships as practice-based learning, in all our
				graduate programmes. These internships last between 5-months to 1
				year, depending on the programmes and study format. The substantial
				time spent with companies ensures depth of experience and benefit
				for both our students and the companies they work for.</p>
		</div>
	</div>
	<div class="col-lg-12">
		<br />
	</div>


	<div class="col-lg-12" align="center" bgcolor="thead-dark">
		<h5>
			<b>Best Practices</b>
		</h5>
	</div>
	<div class="row">
		<div class="col-lg-4" align="center">
			<img src="/img/blog3.jpg" height="150" width="250">
		</div>
		<div class="col-lg-8" align="center">
			<br />
			<p>Farming Institute of Technology is able to help students and
				participants apply technologies, processes, methodologies,
				techniques and best practices because our faculty is well versed
				with the technology landscape as well as the international
				frameworks, models and standards. At the same time, we measure our
				results through the degree of practice deployed by individuals and
				companies.</p>
		</div>
	</div>
	<div class="col-lg-12">
		<br />
	</div>

</th:block>
