<th:block th:fragment="events">
<th:block th:fragment="events">
	<table class="table table-striped">
	<thead class="thead-dark">
	<tr align = "center">
		<th colspan="2"><b>Events</b></th>
	</tr>
	</thead>
	<tbody>	
	<tr align="center">
		<td colspan="2"><b>2nd Student Life Awards</b></td>
		</tr>
		<tr align="center">
		<td><img src="http://www.nus.edu.sg/osa/images/default-source/osa/events/191102-2ndsla.jpg?sfvrsn=9f17f326_0" height="300" width="300"></td>
		<td style="vertical-align:middle"><b>Date :</b> 02 Nov 2019<br/><b>Time :</b> 5pm - 7pm<br/> <b>Location :</b> University Cultural Centre <br/>Office of Student Affairs</td>
	</tr>
	<tr align="center">
	<td colspan="2"><b>Let's take a break</b></td>
	</tr>
	<tr align ="center">
		<td style="vertical-align:middle"><b>Dates :</b> 08 Oct 2019 - 31 Oct 2019<br/><b>Time :</b> Various<br/><b>Location :</b> Various <br/>Student support services</td>
		<td><img src="http://www.nus.edu.sg/osa/images/default-source/osa/events/osa_web_event_thumb_532x357.jpg?sfvrsn=df737ad0_0" height="300" width="300"></td>
	</tr>
	<tr align="center">
		<td colspan="2"><b>PitStop@YIH Activities: Happiness 101 Workshop</b></td>
	</tr>
	<tr align="center">
		<td><img src="http://www.nus.edu.sg/osa/images/default-source/osa/events/happiness101.jpg?sfvrsn=ab53c141_0" height="300" width="300"></td>
		<td style="vertical-align:middle"><b>Date :</b> 12 Sep 2019<br/><b>Time :</b> 6:30pm - 8:30pm<br/> <b>Location :</b> PitStop@YIH<br/>Office of Student Affairs</td>
	</tr>
	<tr align="center">
		<td colspan="2"><b>PitStop@YIH Activities: Mindset Board Games</b></td>
	</tr>
	<tr align="center">
		<td style="vertical-align:middle"><b>Dates :</b> 10 Sep 2019<br/><b>Time :</b> 12pm - 2pm<br/><b>Location :</b> PitStop@YIH<br/>Office of Student Affairs</td>
		<td><img src="http://www.nus.edu.sg/osa/images/default-source/osa/events/pitstop-sep-532x357px.jpg?sfvrsn=49f7c8d2_0" height="300" width="300"></td>
	</tr>
		<tr align="center">
		<td colspan="2"><b>[OSA Dean’s Dialogue] "Are You Future-ready?" by Minister Grace Fu</b></td>
	</tr>
	<tr align="center">
		<td><img src="http://www.nus.edu.sg/osa/images/default-source/osa/events/osa-dean's-dialogue/odd-grace-fu-532x357px.jpg?sfvrsn=41da5ce6_0" height="300" width="300"></td>
		<td style="vertical-align:middle"><b>Date :</b> 04 Sep 2019<br/><b>Time :</b> 6:30pm - 8:30pm<br/> <b>Location :</b> University Hall Auditorium, Level 2<br/>Office of Student Affairs</td>
	</tr>
	<tr align="center">
		<td colspan="2"><b>Student Life Fair</b></td>
	</tr>
	<tr align="center">
		<td style="vertical-align:middle"><b>Dates :</b> 15 Aug 2019 - 16 Aug 2019<br/><b>Time :</b>11 am - 6 pm<br/><b>Location :</b> University Town<br/>NUS Students' Union</td>
		<td><img src="http://www.nus.edu.sg/osa/images/default-source/osa/3/orientation/slf/nus-osa-2018-08-16---(41-of-156)_1.jpg?sfvrsn=e3910c9b_0" height="300" width="300"></td>
	</tr>
		</tbody>
		</table>
</th:block>
Source : http://www.nus.edu.sg/osa/events
