<th:block th:fragment="events">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr align="center">
				<th colspan="2"><b>Events</b></th>
			</tr>
		</thead>
		<tbody>
			<tr align="center">
				<td colspan="2"><b>Member Exclusive: Learn, Network and Celebrate with Farm-Tech</b></td>
			</tr>
			<tr align="center">
				<td><img src="/img/events1.png"
						height="300" width="300"></td>
				<td style="vertical-align:middle"><b>Date :</b> January 13, 2020<br /><b>Time :</b> 2:00 pm - 6:00 pm<br />
					<b>Location :</b> Storeys <br />Farm-Tech Event</td>
			</tr>
			<tr align="center">
				<td colspan="2"><b>Nothing to W(h)ine About </br>Uncorking the Opportunities for Innovation in Viticulture</b></td>
			</tr>
			<tr align="center">
				<td style="vertical-align:middle"><b>Dates :</b> February 11, 2020<br /><b>Time :</b>
					2:00 pm - 6:00 pm<br /><b>Location :</b> Various <br />Farm-Tech Event</td>
				<td><img src="/img/events2.jpg"
						height="300" width="300"></td>
			</tr>
			<tr align="center">
				<td colspan="2"><b>Controlled Environment Agriculture</br>The Industry is Growing Up</b></td>
			</tr>
			<tr align="center">
				<td><img src="/img/events3.jpg"
						height="300" width="300"></td>
				<td style="vertical-align:middle"><b>Date :</b> March 18, 2020<br /><b>Time :</b> 9:30 am - 5:00 pm<br />
					<b>Location :</b> John Innes Centre<br />Farm-Tech Event</td>
			</tr>
			<tr align="center">
				<td colspan="2"><b>Pollinator : Keeping a Sunny Outlook</br>De-risking Agriculture Through Weather-Tech</b></td>
			</tr>
			<tr align="center">
				<td style="vertical-align:middle"><b>Dates :</b> April 29, 2020<br /><b>Time :</b> 4:00 pm - 7:00 pm<br />
				<b>Location :</b> Hethel Innovation<br />Farm-Tech Event</td>
				<td><img src="/img/events4.jpg"
						height="300" width="300"></td>
			</tr>
			<tr align="center">
				<td colspan="2"><b>From Farmer to Pharma and Beyond</b></td>
			</tr>
			<tr align="center">
				<td><img src="/img/events5.jpg"
						height="300" width="300"></td>
				<td style="vertical-align:middle"><b>Date :</b> May 14, 2020 <br /><b>Time :</b> 10:00 am - 5:00 pm<br />
					<b>Location :</b> Rothamsted Research<br />Farm-Tech Event</td>
			</tr>
			<tr align="center">
				<td colspan="2"><b>Extended Pollinator: Novel and Alternative Crops</br>Improving the Rotation AND the Bottom Line?</b></td>
			</tr>
			<tr align="center">
				<td style="vertical-align:middle"><b>Dates :</b> May 14, 2020<br /><b>Time :</b>10:00 am - 5:00 pm
				<br /><b>Location :</b> Rothamsted Research<br />Farm-Tech Event</td>
				<td><img src="/img/events6.jpg"
						height="300" width="300"></td>
			</tr>
		</tbody>
	</table>
</th:block>