<th:block th:fragment="home">
	<div class="col-lg-12" align="center" bgcolor="thead-dark"><h2>Home</h2></div>
		<div class="col-lg-12"><br/> </div> 
		<div class="col-lg-12" align="center" bgcolor="thead-dark"><h5>Latest News</h5></div>	 
			<div class="row">  
				<div class="col-lg-4" align="center"><img src="https://www.iss.nus.edu.sg/images/default-source/default-album/nus-iss-sbf-mou-signing-1d7e1bfde42136fdb9c52ff000079db5a.jpg?sfvrsn=0"
					height="150" width="250"></div>
				<div class="col-lg-8" align="center">
					<br/>				
                 	<font color="#C0C0C0">16 Oct 2019</font>
                 	<br/><br/>
                  	<p>NUS-ISS partners SBF to drive digital transformation efforts for companies</p>
 				</div>
 			</div>
 			<div class="col-lg-12"><br/></div>
 			<div class="row">  
				<div class="col-lg-4" align="center"><img src="https://www.iss.nus.edu.sg/images/default-source/default-album/ncs-x-nus-iss-mou-signing---23-august-2019-(2)596cbfde42136fdb9c52ff000079db5a.jpg?Status=Master&sfvrsn=0"
					height="150" width="250"></div>
				<div class="col-lg-8" align="center">
					<br/>				
                 	<font color="#C0C0C0">24 Aug 2019</font>
                 	<br/><br/>
                  	<p>Demand for tech jobs in Singapore grew 20% over last year</p>
 				</div>
 			</div>
 			<div class="col-lg-12"><br /> </div> 
			<div class="col-lg-12" align="center"><a href="/Home/Blog/" title="Read More">Read More</a></div>
			<div class="col-lg-12"><hr /> </div> 
	
	
			<div class="col-lg-12" align="center" bgcolor="thead-dark"><h5>Calendar</h5></div>		 
			<div class="col-lg-12" align="center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgo1eaWRGUVDxE4bdtidF_4Ba6lX3qFF3JBIABK78VaF2UyB0QBw&s"
						 height="250" width="450"></div>		
			<div class="col-lg-12"><br/> </div> 
			<div class="col-lg-12" align="center">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr align="center" border="1">
							<th colspan="2" rowspan="2">Event </th>
							<th colspan="2"> Duration</th>
							<th colspan="2" rowspan="2">Dates</th>
						</tr>
						<tr align="center">
							<th>Semester 1</th>
							<th>Semester 2</th>
						</tr>
					</thead>
					<tbody>
						<tr align="center">
							<td>Orientation Week</td>
							<td></td>
							<td>1 week</td>
							<td>--</td>
							<td>05/08/2019 - 10/08/2019</td>
							<td></td>
						</tr>
						<tr align="center">
							<td>Instructional Period -- part 1</td>
							<td></td>
							<td>6 weeks</td>
							<td>6 weeks</td>
							<td>Semester 01 : 17/08/2019 - 20/09/2019<br />Semester 02 : 13/01/2020 - 21/02/2020</td>
							<td></td>
						</tr>
						<tr align="center">
							<td>Recess Week</td>
							<td></td>
							<td>1 week</td>
							<td>1 week</td>
							<td>Semester 01 : 21/09/2019 - 29/09/2019<br />Semester 02 : 22/02/2020 - 01/03/2020</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>		
			<div class="col-lg-12" align="center"><a href="/Home/Calendar/" title="Read More">Read More</a></div>
			<div class="col-lg-12"><hr /> </div> 

		
		<div class="col-lg-12" align="center" bgcolor="thead-dark"><h5>Upcoming Events</h5></div>		
			<div class="col-lg-12"><br/> </div>  		
			<div class="col-lg-12">
 				<table class="table table-striped">
					<thead class="thead-dark">
						<tr align="center">
							<th colspan="2"><b>Events</b></th>
						</tr>
					</thead>
					<tbody>
						<tr align="center">
							<td colspan="2"><b>2nd Student Life Awards</b></td>
						</tr>
						<tr align="center">
							<td><img src="http://www.nus.edu.sg/osa/images/default-source/osa/events/191102-2ndsla.jpg?sfvrsn=9f17f326_0"
						height="300" width="300"></td>
							<td style="vertical-align:middle"><b>Date :</b> 02 Nov 2019<br /><b>Time :</b> 5pm - 7pm<br />
								<b>Location :</b> University Cultural Centre <br />Office of Student Affairs</td>
						</tr>
						<tr align="center">
							<td colspan="2"><b>Let's take a break</b></td>
						</tr>
						<tr align="center">
							<td style="vertical-align:middle"><b>Dates :</b> 08 Oct 2019 - 31 Oct 2019<br /><b>Time :</b>
								Various<br /><b>Location :</b> Various <br />Student support services</td>
							<td><img src="http://www.nus.edu.sg/osa/images/default-source/osa/events/osa_web_event_thumb_532x357.jpg?sfvrsn=df737ad0_0"
						height="300" width="300"></td>
						</tr>
					</tbody>
				</table>
			</div> 					
			<div class="col-lg-12" align="center"><a href="/Home/Events/" title="Read More">Read More</a></div>
			<div class="col-lg-12"><hr/> </div> 				
		
		
			
		<div class="col-lg-12" align="center" bgcolor="thead-dark"><h5>Blog</h5></div>		
			<div class="col-lg-12"><br/> </div> 
			<div class="col-lg-12" align="center"><img src="https://www.iss.nus.edu.sg/images/default-source/default-album/iss-@29hmkt-campus_cropped.jpeg?sfvrsn=4&MaxWidth=&MaxHeight=300&ScaleUp=false&Quality=High&Method=ResizeFitToAreaArguments&Signature=B53A7FA5685BC93F395F29B51FB8BB4535D6ADFA"
						 height="250" width="550"></div>		
			<div class="col-lg-12"><br/> </div> 
			<div class="col-lg-12" align="center"><p>Providing thought leadership in organisational innovation and business transformation</p></div>		
			<div class="col-lg-12" align="center"><a href="/Home/Blog/" title="Read More">Read More</a></div>			
			<div class="col-lg-12"><hr/> </div> 
</th:block>