<th:block th:fragment="news">
	<div class="row">
		<div class="col-sm-12" align="center">
			<p><span style="font-size:25px;">NEWS & UPDATES</span></p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4" align="center"><img
				src="/img/study0.jpg"
				height="150" width="250"></div>
		<div class="col-lg-8" align="center">
			<br />
			<font color="#C0C0C0">14 April 2016</font>
			<br />
			<p>How data and drones are helping farmers take care of their crops.</p>
		</div>
	</div>
	<div class="col-lg-12">
		<hr />
	</div>

	<div class="row">
		<div class="col-lg-4" align="center"><img
				src="/img/study1.jpg"
				height="150" width="250"></div>
		<div class="col-lg-8" align="center">
			<br />
			<font color="#C0C0C0">2 Jan 2019</font>
			<br />
			<p>Technology is helping farmers feed the world. It can also make agriculture more environmentally friendly
			</p>
			<p>-- for conventional and organic farmers alike</p>
		</div>
	</div>
	<div class="col-lg-12">
		<hr />
	</div>

	<div class="row">
		<div class="col-sm-12">

			<div class="row" style="margin-top: 1em;">
				<div class="col-sm-12">
					<h5><span style="color:red;">Announcements</span></h5>
					<p> New semester course registration starts from 23rd January 2020 9:00am.</p>
				</div>
			</div>
			<div class="col-lg-12">
				<hr />
			</div>

			<div class="row">
				<div class="col-lg-4" align="center"><img src="/img/study5.png" height="150" width="250"></div>
				<div class="col-lg-8" align="center">
					<br />
					<h4 class="media-heading" ; style="font-size:16px"><b>School of Sciences and Biology Produces
							new Vaccine</b></h4>
					<p>Students from School of Biology and School of Sciences come together to work on a new vaccine
						against flu.
						This break-through discovery is the first of its kind in the world. Many would believe to
						benefit from it.</p>
				</div>
			</div>
			<div class="col-lg-12"><br /></div>

			<div class="row">
				<div class="col-lg-4" align="center"><img src="/img/study6.png" height="150" width="250"></div>
				<div class="col-lg-8" align="center">
					<br />
					<h4 class="media-heading" ; style="font-size:16px"><b>Lounge for Undergraduates</b></h4>
					<p>With increase stress during the exam period, students desperately needs a place to catch-up
						on sleep.
						The student union has taken steps to emptied the equipment room near the food court to serve
						as a temporary
						lounge for students.</p>
				</div>
			</div>
			<div class="col-lg-12"><br /></div>

			<div class="row">
				<div class="col-lg-4" align="center"><img src="/img/study7.jpg" height="150" width="250"></div>
				<div class="col-lg-8" align="center">
					<br />
					<h4 class="media-heading" ; style="font-size:16px"><b>Pen and Paper</b></h4>
					<p>Studies have shown that the tradition pen and paper works best during studies. In a survey
						led by partner
						university, Kenington College, 70% of 500 students surveyed named pen and paper as their
						most preferred stationary of all time.</p>
				</div>
			</div>
			<div class="col-lg-12"><br /></div>

		</div>
	</div>

</th:block>